# 00. Contents

### 01. Importing libraries
### 02. Importing data frames
### 03. Data consistency checks
#### Working with mixed data types
#### Missing values
#### Duplicates
### 04. The task
#### 2. Look for inconsistencies
#### 3. Check for mixed-type dat
#### 5. Missing values
#### 6. Addressing missing values
#### 7. Duplicate data

# 01. Importing Libraries

In [11]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data frames

In [15]:
path = r'/Users/agne/Documents/Studies/Data Analysis/Study Materials/Python/Instacart Basket Analysis 2020 11'

In [19]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [17]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [21]:
df_ords_wrangled = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# 03. Data consistency checks

### Working with mixed data types

In [23]:
# Create a test dataframe
df_test = pd.DataFrame()

In [25]:
# Create a mixed type column
df_test['mix'] = ['a','b', 1, True]

In [27]:
df_test

    mix
0     a
1     b
2     1
3  True

In [27]:
# Check for mixed types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].map(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [30]:
df_test['mix'] = df_test['mix'].astype('str')df_prods.isnull().sum()

## Missing values

In [33]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [39]:
df_nan = df_prods.loc[df_prods['product_name'].isnull() == True]

In [41]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [45]:
df_prods.shape

(49693, 5)

In [47]:
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [49]:
df_prods_clean.shape

(49677, 5)

## Duplicates

In [52]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [54]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [56]:
df_prods_clean.shape

(49677, 5)

In [58]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [60]:
df_prods_clean_no_dups.shape

(49672, 5)

In [63]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# 04. The task

## 2. Look for inconcistencies

In [29]:
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

It looks like all the values are valid and fall into the appropriate limits.

## 3. Check for mixed-type data

In [31]:
# Check for mixed types

for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].map(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

No mixed type data present.

## 5. Missing values

In [32]:
df_ords.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

Days_since_prior_order has a lot of null values. However, that can be explained as the column indicated how many days went by before the user purchased something again. If they purchase something the next day, the value in the days_since_prior_order column will be null. If they are first-time buyers, the value will also be null. So, there is no reason to take action to take this data out or replace it.

In [35]:
df_ords.shape

(3421083, 7)

## 6. Addressing Missing Values

df_ords_clean = df_ords
df_ords_clean['new_customer'] = df_ords['days_since_prior_order'].isnull() == True
df_ords_clean

## 7. Duplicate data

In [37]:
df_ords_dups = df_ords[df_ords.duplicated()]

In [39]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

No duplicates found.

In [41]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [95]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))