# 00. Contents

### 01. Importing libraries
### 02. Importing data frames
### 03. Merging the data
### 04. The task

# 01. Importing libraries

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data frames

In [12]:
path = r'/Users/agne/Documents/Studies/Data Analysis/Study Materials/Python/Instacart Basket Analysis 2020 11'

In [104]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [18]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [20]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# 03. Merging the data

In [119]:
# Checking the shape of the imported orders dataframe
df_ords.shape

(3421083, 7)

In [114]:
df_ords.head ()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [117]:
# Dropping the Unnamed column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [121]:
# Checking the info od the orders dataframe
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [108]:
# Checking the shape of the imported orders_products_prior dataframe
df_ords_prior.shape

(32434489, 4)

In [110]:
# Checking the info on the imported orders_products_prior dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [123]:
# Merging df_ords with df_ords_prior
df_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [125]:
df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [127]:
# Checking the merge results
df_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# 04. The task

In [129]:
# Exporting the merged file to pickle

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))